<% plugin_data = comp.default_component_data.collect { |k,v| "#{k}=#{v}" } %>
<div id="<%= comp.id %>" class='v-plugin v-input' data-plugin-callback="ImageCrop" <%= plugin_data.join(" ") %>>
  <%= erb :"components/event", :locals => {comp: comp, events: comp.events, parent_id: comp.id} %>
  <img src="<%= comp.url %>" height="<%= comp.height %>" width="<%= comp.width %>" border="0" alt="" />
</div>
